{% extends 'cbase.html' %}
{% load static %}
{% block stylesheet %}{% static '/css/my_invites.css' %}{% endblock %}
{% block title %}Choice Student Profile List{% endblock title %}

{% block content %}

<div class="row">
    <div class="col-auto mr-auto">
        <h3>Students</h3>
    </div>
    <div class="col-auto">
        <div class="btn-group" role="group" aria-label="Basic example">
            <form action="{% url 'cprofiles:export-choice-student-list' %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-dark">Download All Data</button>
            </form>
        </div>
    </div>
</div>




<div class="table-responsive-lg">
    <table id="myTable" class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Grade</th>
                <th scope="col">Gender</th>
                <th scope="col">School</th>
                <th scope="col">Mentor</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
                <th scope="col">Date Added</th>
                <th scope="col">Flag</th>
            </tr>
        </thead>

        <tfoot>
            <tr>
                <th>Name</th>
                <th>Grade</th>
                <th>Gender</th>
                <th>School</th>
                <th>Mentor</th>
                <th>Status</th>
                <th>Action</th>
                <th>Date Added</th>
                <th>Flag</th>
            </tr>
        </tfoot>

        <tbody>

            {% for obj in object_list %}
            <tr>
                <td><a href="{{obj.get_absolute_url}}">{{obj.first_name}} {{obj.last_name}}</a></td>
                <td>{{obj.grade}}</td>
                <td>{{obj.gender}}</td>
                <td>{{obj.school}}</td>
                <td>{% for friend in obj.get_friends %}<li>{{friend.first_name}} {{friend.last_name}} </li>{% endfor %}</td>
                <td>

                    {% if obj.status == 'deactivated' %}
                        <div><span class="badge badge-secondary">Deactivated</span></div>

                    {% else %}
                        {% for friend in obj.get_friends %}
                        <div><span class="badge badge-success">Connected</span></div>
                        {% empty %}
                        <div><span class="badge badge-danger">Not Connected</div>
                        {% endfor %}
                    {% endif %}

                </td>
                {% if obj.status == 'deactivated' %}

                <td><a href="{% url 'cprofiles:student-connect-detail' obj.slug %}"><button type="submit"
                            class="btn btn-info" disabled>Connect Mentor</button></a></td>

                {% else %}

                <td><a href="{% url 'cprofiles:student-connect-detail' obj.slug %}"><button type="submit"
                            class="btn btn-info">Connect Mentor</button></a></td>

                {% endif %}

                <td>{{ obj.created |date:"d M Y"  }}</td>
                <td>
                    <form action="{% url 'cprofiles:flag-student' %}" method="POST" class='like-form' id='{{obj.id}}'>
                        {% csrf_token %}
                        <input type="hidden" name="post_id" value={{obj.id}}>
                        <button type="submit" class="like_btn btn btn-light like-btn{{obj.id}}">
                            {% if obj.flag == False %}
                            <i class="fa fa-flag thumb{{obj.id}}" style="color:black"></i>
                            <p class="flag">false</p>
                            {% else %}
                            <i class="fa fa-flag thumb{{obj.id}}" style="color:red"></i>
                            <p class="flag">true</p>
                            {% endif %}
                        </button>
                    </form>
                </td>

            </tr>

            {% endfor %}

        </tbody>
    </table>
</div>


{% endblock content %}


{% block scripts %}
<script>
        $(document).ready(function () {

            var table = $('#myTable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'excel', 'pdf', 'print'
                ],
                "pageLength": 10,

                initComplete: function () {
                    count = 0;
                    this.api().columns().every(function () {
                        var title = this.header();
                        //replace spaces with dashes
                        title = $(title).html().replace(/[\W]/g, '-');
                        var column = this;
                        var select = $('<select id="' + title +
                                '" class="select2" ></select>')
                            .appendTo($(column.footer()).empty())
                            .on('change', function () {
                                //Get the "text" property from each selected data 
                                //regex escape the value and store in array
                                var data = $.map($(this).select2('data'), function (
                                    value,
                                    key) {
                                    return value.text ? '^' + $.fn.dataTable
                                        .util
                                        .escapeRegex(value.text) + '$' : null;
                                });

                                //if no data selected use ""
                                if (data.length === 0) {
                                    data = [""];
                                }

                                //join array into string with regex or (|)
                                var val = data.join('|');

                                //search for the option(s) selected
                                column
                                    .search(val ? val : '', true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d +
                                '</option>');
                        });

                        //use column title as selector and placeholder
                        $('#' + title).select2({
                            multiple: true,
                            closeOnSelect: false,
                            placeholder: "Select a " + title
                        });

                        //initially clear select otherwise first option is selected
                        $('.select2').val(null).trigger('change');
                    });
                }
            });
        });


    $(document).ready(function () {

      document.getElementById("Status").parentElement.innerHTML = ""
      document.getElementById("Name").parentElement.innerHTML = ""
      document.getElementById("Action").parentElement.innerHTML = ""
      document.getElementById("Flag").parentElement.innerHTML = ""

    });


    $('.like-form').submit(function (e) {
        e.preventDefault()

        const post_id = $(this).attr('id')
        const url = $(this).attr('action')
        const thumbcolor = $(`.thumb${post_id}`).css('color')

        $.ajax({
            type: 'POST',
            url: url,
            data: {
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                'post_id': post_id,
            },
            success: function (response) {

                if (thumbcolor === 'rgb(0, 0, 0)') {
                    $(`.thumb${post_id}`).css('color', 'red');
                } else {
                    $(`.thumb${post_id}`).css('color', 'black');
                }

            },
            error: function (response) {
                console.log('error', response)
            }
        })

    })


for (let element of document.getElementsByClassName("flag")){
   element.style.display="none";
}

</script>
{% endblock scripts %}