<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback Form (Parents)</title>
</head>
<body>

<p>Dear {{connection.student.parent1_first_name}},</p>

<p>Please take 3-5 minutes to complete the following <a href={{form_link}}>feedback form</a>. We will continue to send this form every other week to ensure {{connection.student.first_name}} is ontrack to complete their admissions applications and receive adequate support from {{connection.mentor.first_name}}. Additionally, your responses in this form will help us support any challenges that may come up.</p>

<p>If you have any questions or concerns, please feel free to reach out.</p>
<p>-------------------------------------------------------------------------------------------------------------------------------</p>
<p>Estimado {{connection.student.parent1_first_name}},</p>

<p>Por favor tome entre 3 a 5 minutos para completar <a href={{form_link}}>el formulario de comentarios siguiente</a>. Mandaremos este formulario cada 2 semanas para asegurarnos que {{connection.student.first_name}} está en buen camino de completar sus solicitudes de admisión y que está recibiendo el apoyo adecuado de {{connection.mentor.first_name}}. Adicionalmente, las respuestas de esta forma nos ayudarán a apoyarlos con cualquier problema o reto que tengan en este proceso.</p>

<p>Si tiene alguna pregunta o inquietud, por favor contáctame.</p>


</body>
</html>