{% extends 'cbase.html' %}
{% load static %}
{% block stylesheet %}{% static '/css/my_invites.css' %}{% endblock %}
{% block title %}Session List{% endblock title %}

{% block content %}


<style>

table{
  table-layout:fixed;
}

.lines{
   word-break: break-word;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 16px; /* fallback */
   max-height: 100px; /* fallback */
   -webkit-line-clamp: 4; /* number of lines to show */
   -webkit-box-orient: vertical;
}


.step{
   word-break: break-word;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 16px; /* fallback */
   max-height: 100px; /* fallback */
   -webkit-line-clamp: 4; /* number of lines to show */
   -webkit-box-orient: vertical;

}



</style>



<div class="row">
    <div class="col-auto mr-auto">
        <h3>Sessions</h3>
    </div>
    <div class="col-auto">
        <div class="btn-group" role="group" aria-label="Basic example">
            <form action="{% url 'cprofiles:export-choice-session-list' %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-dark">Download All Data</button>
            </form>
        </div>
    </div>
</div>

<a href="{% url 'cprofiles:parent-session-list'%}"><button style="float: right" type="button" class="btn btn-link btn-sm">Parent Session</button></a>
<a href="{% url 'cprofiles:feedback-form-status'%}"><button style="float: right" type="button" class="btn btn-link btn-sm">Full Feedback Form Status</button></a>


<div class="table-responsive-lg">
    <table id="myTable" class="table">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Student</th>
                <th scope="col">Mentor</th>
                <th scope="col">Meetings</th>
                <th scope="col">Step Completed</th>
                <th scope="col">Topics</th>
                <th scope="col">Support</th>
                <th scope="col">Action</th>
                <th scope="col">Flag</th>
            </tr>
        </thead>

        <tfoot>
            <tr>
                <th>Date</th>
                <th>Student</th>
                <th>Mentor</th>
                <th>Meetings</th>
                <th>Step Completed</th>
                <th>Topics</th>
                <th>Support</th>
                <th>Action</th>
                <th>Flag</th>
            </tr>
        </tfoot>

        <tbody>

            {% for obj in object_list %}
            <tr>
                <td>{{obj.created|date:"d M Y"}}</td>
                <td><a href="{{obj.connection.student.get_absolute_url}}">{{obj.connection.student.first_name}}
                        {{obj.connection.student.last_name}}</a></td>
                <td><a href="{{obj.connection.mentor.get_absolute_url}}">{{obj.connection.mentor.first_name}}
                        {{obj.connection.mentor.last_name}}</a></td>
                <td>{{obj.meet}}</td>
                <td class="step">{{obj.step}}</td>
                <td>{% for topic in obj.get_topics %}<li>{{topic}} </li>{% endfor %}</td>
                <td class="lines shown">{{obj.elaborate}}</td>
                <td><a href="{{obj.get_absolute_url}}"><button type="submit" class="btn btn-info">View Full Form</button></a></td>
                <td>
                    <form action="{% url 'cprofiles:flag-session' %}" method="POST" class='like-form' id='{{obj.id}}'>
                        {% csrf_token %}
                        <input type="hidden" name="post_id" value={{obj.id}}>
                        <button type="submit" class="like_btn btn btn-light like-btn{{obj.id}}">
                            {% if obj.flag == False %}
                            <i class="fa fa-flag thumb{{obj.id}}" style="color:black"></i>
                            <p class="flag">false</p>
                            {% else %}
                            <i class="fa fa-flag thumb{{obj.id}}" style="color:red"></i>
                            <p class="flag">true</p>
                            {% endif %}
                        </button>
                    </form>
                </td>
            </tr>

            {% endfor %}

        </tbody>
    </table>
</div>


{% endblock content %}

{% block scripts %}
<script>
    $(document).ready(function () {

        var table = $('#myTable').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'excel', 'pdf', 'print'
            ],
            "pageLength": 10,

            initComplete: function () {
                count = 0;
                this.api().columns().every(function () {
                    var title = this.header();
                    //replace spaces with dashes
                    title = $(title).html().replace(/[\W]/g, '-');
                    var column = this;
                    var select = $('<select id="' + title +
                            '" class="select2" ></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            //Get the "text" property from each selected data 
                            //regex escape the value and store in array
                            var data = $.map($(this).select2('data'), function (
                                value,
                                key) {
                                return value.text ? '^' + $.fn.dataTable
                                    .util
                                    .escapeRegex(value.text) + '$' : null;
                            });

                            //if no data selected use ""
                            if (data.length === 0) {
                                data = [""];
                            }

                            //join array into string with regex or (|)
                            var val = data.join('|');

                            //search for the option(s) selected
                            column
                                .search(val ? val : '', true, false)
                                .draw();
                        });

                    column.data().unique().sort().each(function (d, j) {
                        select.append('<option value="' + d + '">' + d +
                            '</option>');
                    });

                    //use column title as selector and placeholder
                    $('#' + title).select2({
                        multiple: true,
                        closeOnSelect: false,
                        placeholder: "Select a " + title
                    });

                    //initially clear select otherwise first option is selected
                    $('.select2').val(null).trigger('change');
                });
            }
        });
    });


    $(document).ready(function () {

      document.getElementById("Student").parentElement.innerHTML = ""
      document.getElementById("Mentor").parentElement.innerHTML = ""
      document.getElementById("Action").parentElement.innerHTML = ""
      document.getElementById("Flag").parentElement.innerHTML = ""
      document.getElementById("Support").parentElement.innerHTML = ""
      document.getElementById("Step-Completed").parentElement.innerHTML = ""

    });


    $('.like-form').submit(function (e) {
    e.preventDefault()

    const post_id = $(this).attr('id')
    const url = $(this).attr('action')
    const thumbcolor = $(`.thumb${post_id}`).css('color')

    $.ajax({
        type: 'POST',
        url: url,
        data: {
            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
            'post_id': post_id,
        },
        success: function (response) {

            if (thumbcolor === 'rgb(0, 0, 0)') {
                $(`.thumb${post_id}`).css('color', 'red');
            } else {
                $(`.thumb${post_id}`).css('color', 'black');
            }

        },
        error: function (response) {
            console.log('error', response)
        }
    })

})


    for (let element of document.getElementsByClassName("flag")){
    element.style.display="none";
    }


    $('.lines').hover(

       function(){ $(this).toggleClass('lines') },

    )

    $('.step').hover(

       function(){ $(this).toggleClass('step') },

    )




    $(document).ready(function() {
        var colorOrig=$(".shown").css('background');
        $(".shown").hover(
        function() {
            //mouse over
            $(this).css('background', '#ff0')
        }, function() {
            //mouse out
            $(this).css('background', colorOrig)
        });
    });

</script>
{% endblock scripts %}