{% extends 'cbase.html' %}
{% load static %}
{% block stylesheet %}{% static '/css/profile.css' %}{% endblock %}
{% block title %}Connection{% endblock title %}


{% block content %}

<h3>Connection</h3>

{% if connection.status == 'connected' %}
<div><span class="badge badge-success">Connected</div>
{% elif connection.status == 'disconnected' %}
<div><span class="badge badge-danger">Disconnected</span><span> on {{connection.updated | date:"M d, Y" }}</span></div>
{% elif connection.status == 'inactive' %}
<div><span class="badge badge-warning">Inactive</div>
{% endif %}




<div class="profile-page tx-13">
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="profile-header">
                <div class="header-links">
                    <div class="container header">

                        <div class="row">

                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <img class="profile-pic" src="{{connection.student.avatar.url}}" alt="profile">
                                    </div>
                                    <div class="col">
                                        <div style="font-size:25px; font-weight:bold" class="profile-name">
                                            Student</div>
                                        <div style="font-size:25px; font-weight:bold" class="profile-name">
                                            {{connection.student.first_name}}
                                            {{connection.student.last_name}}</div>
                                        <div style="font-size:15px" class="profile-name">
                                            {{connection.student.school}}</div>

                                    </div>
                                </div>
                            </div>


                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <img class="profile-pic" src="{{connection.mentor.avatar.url}}" alt="profile">
                                    </div>
                                    <div class="col">
                                        <div style="font-size:25px; font-weight:bold" class="profile-name">
                                            Mentor</div>
                                        <div style="font-size:25px; font-weight:bold" class="profile-name">
                                            {{connection.mentor.first_name}}
                                            {{connection.mentor.last_name}}</div>
                                        <div style="font-size:15px" class="profile-name">
                                            {% for location in connection.mentor.get_locations %}
                                            <li>{{location}}</li>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    {% if connection.status == 'connected' %}
    <form action="{% url 'profiles:remove-connect' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="student_pk" value={{connection.student.pk}}>
        <input type="hidden" name="tutor_pk" value={{connection.tutor.pk}}>
        <button type="submit" class="btn btn-danger">Disconnect</button>
    </form>

    {% elif connection.status == 'disconnected' %}
    <a href="{% url 'profiles:student-detail-view' connection.student.slug %}"><button type="submit"
            class="btn btn-info">Connect
            Mentor</button></a>

    {% elif connection.status == 'inactive' %}
    <a href="{% url 'profiles:student-detail-view' connection.student.slug %}"><button type="submit"
            class="btn btn-info">Connect
            Mentor</button></a>
    <form action="{% url 'profiles:remove-connect' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="student_pk" value={{connection.student.pk}}>
        <input type="hidden" name="tutor_pk" value={{connection.tutor.pk}}>
        <button type="submit" class="btn btn-danger">Disconnect</button>
    </form>
    {% endif %}

    <h3>Activity</h3>

    <div class="table-responsive-lg">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Meetings</th>
                    <th scope="col">Topics</th>
                    <th scope="col">Step Completed</th>
                    <th scope="col">Support</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>

                {% for obj in sessions %}
                <tr>
                    <td>{{obj.created|date:"d M Y"}}</td>
                    <td>{{obj.meet}}</td>
                    <td>
                        {% for topic in obj.get_topics %}
                        <li>{{topic}}</li>
                        {% endfor %}
                    </td>
                    <td>{{obj.step}}</td>
                    <td>{{obj.elaborate}}</td>
                    <td><a href="{{obj.get_absolute_url}}"><button type="submit" class="btn btn-info">View Full
                                Form</button></a></td>

                </tr>

                {% endfor %}

            </tbody>
        </table>
    </div>


    <h3>Notes</h3>

    <a href="{% url 'cprofiles:connection-note-update-profile' connection.pk %}"><button type="submit"
            class="btn btn-info">Edit</button></a>

    <div class="row">
        <div class="col-sm-12">
            <div class="card h-100">
                <div class="card-body">
                    <p class="card-text">{{connection.note}}</p>
                </div>
            </div>
        </div>
    </div>

    </br>


    {% endblock content %}