{% extends 'cbase.html' %}
{% load static %}
{% block stylesheet %}{% static '/css/my_invites.css' %}{% endblock %}
{% block title %}Create Connection{% endblock title %}


{% block content %}



<style>


table{
    table-layout:fixed;
}

.lines{
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px; /* fallback */
    max-height: 100px; /* fallback */
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
}
    
</style>

<h3>Create Connection</h3>
<div>Create a connection between a Student and Mentor</div>
</br>
<h3>Student: <a href="{{student.get_absolute_url}}">{{student.first_name}} {{student.last_name}}</a></h3>

</br>

<div class="alert alert-success" role="alert">
    <div class="row">

        <div class="col-sm">
            <p>Gender:<p>
                    <p>{{student.gender}}</p>
        </div>


        <div class="col-sm">
            <p>Grade:<p>
                    <p>{{student.grade}}</p>
        </div>

                <div class="col-sm">
            <p>Hobbies/Activity:<p>
                    <p>{{student.activity}}</p>
        </div>

                        <div class="col-sm">
            <p>Language preference:<p>
                    <p>{{student.language_preference}}</p>
        </div>


        <div class="col-sm">
            <p>School:<p>
                    <p>{{student.school}}</p>
        </div>

    </div>
</div>

<h3>Mentors</h3>



<div class="table-responsive-lg">
    <table id="myTable" class="table table-fixed">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Pref Grade</th>
                <th scope="col">Pref Gender</th>
                <th scope="col">Languages spoken</th>
                <th scope="col" style="width:25%">About</th>
                <th scope="col">Student</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>
        </thead>

        <tfoot>
            <tr>
                <th>Name</th>
                <th>Pref Grade</th>
                <th>Pref Gender</th>
                <th>Languages spoken</th>
                <th style="width:25%;">About</th>  
                <th>Student</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </tfoot>


        <tbody>

            {% for mentor in mentors %}
            <tr>
                <td><a href="{{mentor.get_absolute_url}}">{{mentor.first_name}} {{mentor.last_name}}</a></td>
                <td>{{mentor.prefer_grade}}</td>
                <td>{{mentor.prefer_gender}}</td>
                <td>{% for language in mentor.get_languages %}<li>{{language}}</li>{% endfor %}</td>
                <td class="lines shown">{{mentor.share}}</td>
                <td>{% for friend in mentor.get_friends %}<li>{{friend.first_name}} {{friend.last_name}} </li>{% endfor %}</td>
                <td>
                    {% for friend in mentor.get_friends %}
                    <div><span class="badge badge-success">Connected</span></div>
                    {% empty %}
                    <div><span class="badge badge-danger">Not Connected</div>
                    {% endfor %}
                </td>

                <td>
                    <form action="{% url 'cprofiles:student-connect' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="student_pk" value={{student.pk}}>
                        <input type="hidden" name="mentor_pk" value={{mentor.pk}}>
                        <button type="submit" class="btn btn-success">Connect</button>
                    </form>

                </td>

            </tr>

            {% endfor %}
        </tbody>
    </table>
</div>



{% endblock content %}



{% block scripts %}
<script>

        $(document).ready(function () {

            var table = $('#myTable').DataTable({
                "pageLength": 10,

                initComplete: function () {
                    count = 0;
                    this.api().columns().every(function () {
                        var title = this.header();
                        //replace spaces with dashes
                        title = $(title).html().replace(/[\W]/g, '-');
                        var column = this;
                        var select = $('<select id="' + title +
                                '" class="select2" ></select>')
                            .appendTo($(column.footer()).empty())
                            .on('change', function () {
                                //Get the "text" property from each selected data 
                                //regex escape the value and store in array
                                var data = $.map($(this).select2('data'), function (
                                    value,
                                    key) {
                                    return value.text ? '^' + $.fn.dataTable
                                        .util
                                        .escapeRegex(value.text) + '$' : null;
                                });

                                //if no data selected use ""
                                if (data.length === 0) {
                                    data = [""];
                                }

                                //join array into string with regex or (|)
                                var val = data.join('|');

                                //search for the option(s) selected
                                column
                                    .search(val ? val : '', true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d +
                                '</option>');
                        });

                        //use column title as selector and placeholder
                        $('#' + title).select2({
                            multiple: true,
                            closeOnSelect: false,
                            placeholder: "Select a " + title
                        });

                        //initially clear select otherwise first option is selected
                        $('.select2').val(null).trigger('change');
                    });
                }
            });
        });



    $(document).ready(function () {

      document.getElementById("Status").parentElement.innerHTML = ""
      document.getElementById("Action").parentElement.innerHTML = ""
      document.getElementById("Name").parentElement.innerHTML = ""
      document.getElementById("About").parentElement.innerHTML = ""



    });


    $('.lines').hover(

       function(){ $(this).toggleClass('lines') },

    )


    $(document).ready(function() {
        var colorOrig=$(".shown").css('background');
        $(".shown").hover(
        function() {
            //mouse over
            $(this).css('background', '#ff0')
        }, function() {
            //mouse out
            $(this).css('background', colorOrig)
        });
    });

</script>
{% endblock scripts %}