<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback Form (Mentors)</title>
</head>
<body>

<p>Dear {{connection.mentor.first_name}},</p>

<p>Thank you for volunteering your time to support {{connection.student.first_name}}! Please take 3-5 minutes to complete the following <a href={{form_link}}>feedback form</a>. We will continue to send this form every other week to ensure {{connection.student.first_name}} is ontrack to complete their admissions applications. Additionally, we will be able to support you with any challenges that arise in a faster and easier manner.</p>

<p>This is also a great place to reflect on your mentorship experience, tracking the progress your student is making and identifying the impact you are creating. Thank you for your support!</p>

<p>If you have any questions or concerns, please reach out to Karen at karen@peninsulabridge.org.</p>


</body>
</html>