<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connection Email</title>
</head>
<body>

<p>Dear {{connection.student.parent1_first_name}} and {{connection.mentor.first_name}},</p>

<p>You are receiving this email because we have not received a Feedback Form from either {{connection.mentor.first_name}} or {{connection.student.parent1_first_name}} for the past 4 weeks, making your relationship inactive. If you have met consistently since the last feedback form was completed, please complete the previous Feedback Forms (check your email inbox for the links). If you have not met with each other, please email me at karen@peninsulabridge.org so I can further assist you.</p>

<p>-------------------------------------------------------------------------------------------------------------------------------</p>

<p>Estimado {{connection.student.parent1_first_name}}, y {{connection.mentor.first_name}},</p>

<p>Está recibiendo este correo porque no hemos recibido el Formulario de Comentarios de ya sea usted o {{connection.mentor.first_name}} por el pasado 4 semanas, significa que su relación está inactiva. Si se han reunido constantemente desde que se completó el último formulario de comentarios, complete los formularios de comentarios anteriores. Si no se han reunido, por favor envíeme un correo electrónico a karen@peninsulabridge.org para que pueda ayudarlos.


</body>
</html>