<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connection Email</title>
</head>
<body>

<p>Dear {{student.first_name}} {{student.last_name}} and {{student.parent1_first_name}} {{student.parent1_last_name}},</p>

<p>I hope you are doing well.</p>

<p>This email contains important information regarding your assigned mentor for the Choice Program. Your mentor, {{mentor.first_name}} {{mentor.last_name}}, is very excited to connect with you. {{mentor.first_name}} can be reached via email at {{mentor.email}}. As a reminder, your mentor will meet with you and your student once a week to support you in completing admissions applications. <span style="color:red;"><i>They will contact you by September 4th, 2021 to coordinate your first meeting. Feel free to reach out to them, if you do not hear from them by Friday, September 10th.</i></span></p>

<p>If you have any questions or concerns, please reach out to me at karen@peninsulabridge.org</p>

<p>Best,</p>

<p>Karen Zamora</p>

<p>--------------------------------------------------------------------------------------------------------------------------</p>

<p>Estimado {{student.first_name}} {{student.last_name}} y {{student.parent1_first_name}} {{student.parent1_last_name}},

<p>Espero que estén bien,

<p>Éste correo contiene información importante acerca de su mentor asignado para el programa Choice. Su mentor, {{mentor.first_name}} {{mentor.last_name}}, está emocionado de conectar con ustedes. Se pueden comunicar con {{mentor.first_name}} por correo electrónico a {{mentor.email}}. Como recordatorio, su mentor se reunirá con usted y su hijo/a, una vez a la semana para apoyarlos en completar las aplicaciones de admisión a escuelas independientes. <span style="color:red;"><i>Ellos se comunicarán con usted el 4 de septiembre para decidir cuándo reunirse por primera vez. Si ellos no se comunican con usted, antes del viernes 10 de septiembre, usted le puede mandar un correo electrónico directamente.</i></span></p>


<p>Si tiene alguna pregunta o preocupación, por favor contactame por correo electrónico al karen@peninsulabridge.org.</p>

<p>Atentamente,</p>

<p>Karen Zamora</p>



</body>
</html>