<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discconnection Email</title>
</head>
<body>

<p>Dear {{mentor.first_name}} and {{student.first_name}},</p>

<p>You are receiving this email to inform you that {{mentor.first_name}} and {{student.first_name}} have ended their mentorship. We hope that {{student.first_name}} learned a lot from this experience and thank you to {{mentor.first_name}} for your support!</p>

<p>If you have any questions or concerns, please reach out to Karen at karen@peninsulabridge.org.</p>

<p>-------------------------------------------------------------------------------------------------------------------------------</p>

<p>Estimados {{mentor.first_name}} and {{student.first_name}},</p>

<p>Recibió este correo electrónico para informarle que {{mentor.first_name}} and {{student.first_name}} han terminado su mentoría. Esperamos que {{student.first_name}} aprenda mucho de esta experiencia y le agradecemos a {{mentor.first_name}} por su apoyo.</p>

<p>Si tiene alguna pregunta o preocupación, comuníquese a Karen por correo electrónico a karen@peninsulabridge.org.</p>




</body>
</html>