{% extends 'cbase.html' %}
{% load static %}
{% block stylesheet %}{% static '/css/profile.css' %}{% endblock %}
{% block title %}Student Profile{% endblock title %}


{% block content %}


<div class="profile-page tx-13">
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="profile-header">
                <div class="header-links">
                    <div class="container header">
                        <div class="row">
                            <div class="col-3 name-btn">
                                <img class="profile-pic" src="{{student.avatar.url}}" alt="profile">
                            </div>
                            <div class="col-3">
                                <div style="font-size:25px; font-weight:bold" class="profile-name">
                                    Student</div>
                                <div style="font-size:25px; font-weight:bold" class="profile-name">
                                    {{student.first_name}}
                                    {{student.last_name}}</div>
                            </div>
                            <div class="col-6">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<h3>Activity</h3>


<div class="row">

    <div class="col-8 table-responsive-lg">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Student</th>
                    <th scope="col">Tutor</th>
                    <th scope="col">Length</th>
                    <th scope="col">Topics</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>

                {% for session in sessions %}
                <tr>
                    <td>{{session.created|date:"d M Y"}}</td>
                    <td><a href="{{session.connection.student.get_absolute_url}}">{{session.connection.student.first_name}}
                            {{session.connection.student.last_name}}</a></td>
                    <td><a href="{{session.connection.mentor.get_absolute_url}}">{{session.connection.mentor.first_name}}
                            {{session.connection.mentor.last_name}}</a></td>
                    <td>{{session.length}} hr</td>
                    <td>
                        {% for topic in session.get_topics %}
                        <li>{{topic}}</li>
                        {% endfor %}
                    </td>
                    <td><a href="{{session.get_absolute_url}}"><button type="submit" class="btn btn-info">View Full
                                Form</button></a></td>

                </tr>

                {% endfor %}

            </tbody>
        </table>
    </div>

    <div class="col-4">
        <div class="card-body">
            <h5>Connections</h5>
            {% for connection in student.get_student_connections %}
            <div class="row">
                <div class="col"><a href="{{connection.mentor.get_absolute_url}}">{{connection.mentor.first_name}}
                        {{connection.mentor.last_name}}</a></div>
                {% if connection.status == 'connected' %}
                <div class="col"><span class="badge badge-success">Connected</div>
                {% elif connection.status == 'disconnected' %}
                <div class="col"><span class="badge badge-danger">Disconnected</div>
                {% elif connection.status == 'inactive' %}
                <div class="col"><span class="badge badge-warning">Inactive</div>
                {% endif %}
                <div class="col" style="text-align: right;"><a href="{{connection.get_absolute_url}}"><i
                            class="fa fa-info-circle" style="color:black"></i></a></div>
            </div>
            </br>
            {% endfor %}
        </div>
    </div>


</div>



<h3>Notes</h3>

<a href="{% url 'cprofiles:student-note-update-profile' student.slug %}"><button type="submit"
        class="btn btn-info">Edit</button></a>

<div class="row">
    <div class="col-sm-12">
        <div class="card h-100">
            <div class="card-body">
                <p class="card-text">{{student.note}}</p>
            </div>
        </div>
    </div>
</div>

</br>

<h3>All Info</h3>

<a href="{% url 'cprofiles:student-update-profile' student.slug %}"><button type="submit"
        class="btn btn-info">Edit</button></a>

</br>


<div class="row">
    <div class="col-sm-6">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">First Name</h5>
                <p class="card-text">{{student.first_name}}</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Last Name</h5>
                <p class="card-text">{{student.last_name}}</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Email</h5>
                <p class="card-text">{{student.email}}</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Gender</h5>
                <p class="card-text">{{student.gender}}</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Grade</h5>
                <p class="card-text">{{student.grade}}</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">School</h5>
                <p class="card-text">{{student.school}}</p>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-6">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Student Language Preference:</h5>
                <p class="card-text">{{student.language_preference }}</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Parent First Name:</h5>
                <p class="card-text">{{student.parent1_first_name}}</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Parent Last Name:</h5>
                <p class="card-text">{{student.parent1_last_name}}</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Parent Phone Number:</h5>
                <p class="card-text">{{student.parent1_phone}}</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Parent Email</h5>
                <p class="card-text">{{student.parent1_email}}</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
    </div>
</div>

<h5>Student Questions</h5>

<div class="row">
    <div class="col-sm-6">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">What extracurricular activities and sports do you participate in?</h5>
                <p class="card-text">{{student.activity}}</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Why are you interested in applying to an independent school?</h5>
                <p class="card-text">{{student.ind_scl}}</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">One thing most people don’t know about me is…</h5>
                <p class="card-text">{{student.dont_know}}</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">I am most proud of…</h5>
                <p class="card-text">{{student.proud}}</p>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-6">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Something I want to learn is…</h5>
                <p class="card-text">{{student.learn}}</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">I am the happiest when…</h5>
                <p class="card-text">{{student.happy}}</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">What are your hobbies?</h5>
                <p class="card-text">{{student.hobby}}</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
    </div>
</div>

<h5>Parent Questions</h5>

<div class="row">
    <div class="col-sm-6">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Why are you interested in an independent or parochial school for your
                        child?</h5>
                <p class="card-text">{{student.int_ind_school}}</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">What are you looking for in an independent or parochial school?
                        Share
                        which elements are the most important to you and your student (sports,
                        clubs, teachers)?</h5>
                <p class="card-text">{{student.look_ind_school}}</p>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-6">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">What are your students' strengths and areas for growth (both academic
                        and personal)?</h5>
                <p class="card-text">{{student.strength}}</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Describe an obstacle the applicant has faced and how you helped him/her
                        navigate and work through the challenge?</h5>
                <p class="card-text">{{student.obstacle}}</p>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-6">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Check the top THREE phrases that describe your child’s strengths in
                        your
                        opinion. (Hold the Control or Command key to select multiple)</h5>
                {% for strength in student.get_child_strengths %}
                <li>{{strength}}</li>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Check the top THREE phrases that best describe your child’s social
                        strengths in your opinion. (Hold the Control or Command key to select
                        multiple options)</h5>
                {% for strength in student.get_social_strengths %}
                <li>{{strength}}</li>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-6">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Interview Language</h5>
                <p class="card-text">{{student.interview_language}}</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Do you have any questions or comments for us? (If not, please leave
                        blank)</h5>
                <p class="card-text">{{student.question}}</p>
            </div>
        </div>
    </div>
</div>

</br>
</br>

{% endblock content %}