<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Background Check Email</title>
</head>
<body>


<p>Dear <b>{{mentor.first_name}}</b>,</p>

<p>Thank you for stepping up to be a mentor! As the last step of the application, we ask you to please complete a confidential and secure background check by going to the link below and submitting your personal information. Please complete the background check within the next 3 business days.</p>

<p><b>Background Check:</b> https://peninsulabridge.volunteerportal.net</p>

<p>You will require the following password to login: Dreambelieveachieve89!</p>

<p><b>Please note the following:</b></p>

<p>This background check is paid by the applicant and the payment can be made with a credit card. The minimum cost per screening is $13.95.</p>  

<p>Results of your search will be made available to the Executive Director of Peninsula Bridge.</p>

<p>Lastly, if you Quit without clicking Save, the system will not save your information. Your background check will not be run. You will need to start over from the beginning when you return.  Thank you.</p>


</body>
</html>