<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Background Check Email</title>
</head>
<body>

<p>Dear <b>{{mentor.first_name}}</b>,</p>

<p>Thank you for signing up to be a mentor! Since you have not previously completed a background check for PB, please do so at the following link:</p>

<p>Use the following login information:</p>
<p>Username:</p>
<p>Password:</p>

<p>Thank you!</p>



</body>
</html>