{% extends 'mbase.html' %}
{% load static %}
{% block stylesheet %}{% static '/css/profile.css' %}{% endblock %}
{% block title %}Dashboard{% endblock title %}


{% block content %}


<div class="row">
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">{{num_session}}</h1>
                <p class="card-text">Mentoring Sessions</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">{{x}}</h1>
                <p class="card-text">Unmatched Mentors</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">{{connected_conn}}</h1>
                <p class="card-text">Active Connections</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">{{avg_engagement.rate__avg|floatformat:1}}</h1>
                <p class="card-text">Average Engagement</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">{{num_tutor}}</h1>
                <p class="card-text">Total Mentors</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">{{y}}</h1>
                <p class="card-text">Unmatched Students</p>
            </div>
        </div>
    </div>
    
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">{{inactive_conn}}</h1>
                <p class="card-text">Inactive Connections</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">{{unanswered_question_num}}</h1>
                <p class="card-text"><a href="{% url 'mprofiles:question-list-view' %}">Unanswered Questions</a></p>
            </div>
        </div>
    </div>
</div>
</br>



</br>
</br>


<div class="row">
    <div class="col-12 col-xl-6 mb-4">
        <div class="col-12 mb-4">
            <div class="card border-light shadow-sm">
                <div class="card-body d-flex flex-row align-items-center flex-0 border-bottom">
                    <div class="d-block">
                        <div class="h5 font-weight-normal text-gray mb-2">Mentoring Sessions</div>
                    </div>
                </div>
                <div class="card-body p-2">
                    <canvas id="sessionChart"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-xl-6 mb-4">
        <div class="col-12 mb-4">
            <div class="card border-light shadow-sm">
                <div class="card-body d-flex flex-row align-items-center flex-0 border-bottom">
                    <div class="d-block">
                        <div class="h6 font-weight-normal text-gray mb-2">Engagement</div>
                    </div>
                </div>
                <div class="card-body p-2">
                    <canvas id="eng_meaning_Chart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>


</br>
</br>

<h3>Recent Sessions</h3>

<div class="table-responsive-lg">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Student</th>
                <th scope="col">Mentor</th>
                <th scope="col">General Feedback</th>
                <th scope="col">Engagement</th>
                <th scope="col">Support</th>
                <th scope="col">Action</th>
                <th scope="col">Flag</th>
            </tr>
        </thead>
        <tbody>

            {% for obj in recent_session%}
            <tr>
                <td>{{obj.created|date:"d M Y"}}</td>
                <td><a href="{{obj.connection.student.get_absolute_url}}">{{obj.connection.student.first_name}}
                        {{obj.connection.student.last_name}}</a></td>
                <td><a href="{{obj.connection.mentor.get_absolute_url}}">{{obj.connection.mentor.first_name}}
                        {{obj.connection.mentor.last_name}}</a></td>
                <td>{{obj.summary}}</td>
                <td>{{obj.rate}}</td>
                <td>{{obj.support}}</td>
                <td>
                    <a href="{{obj.get_absolute_url}}"><button type="submit" class="btn btn-info">View Full
                            Form</button></a>
                </td>
                <td>
                    <form action="{% url 'mprofiles:flag-session' %}" method="POST" class='like-form' id='{{obj.id}}'>
                        {% csrf_token %}
                        <input type="hidden" name="post_id" value={{obj.id}}>
                        <button type="submit" class="like_btn btn btn-light like-btn{{obj.id}}">
                            {% if obj.flag == False %}
                            <i class="fa fa-flag thumb{{obj.id}}" style="color:black"></i>
                            <p class="flag">false</p>
                            {% else %}
                            <i class="fa fa-flag thumb{{obj.id}}" style="color:red"></i>
                            <p class="flag">true</p>
                            {% endif %}
                        </button>
                    </form>
                </td>

            </tr>

            {% endfor %}

        </tbody>
    </table>
</div>



{% endblock content %}





{% block scripts %}
<script>



$(document).ready(function () {
    var ctx = document.getElementById('sessionChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [{% for x in month %}'{{x.month|date:"M, Y"}}',{% endfor %}],
            datasets: [{
                label: 'Mentoring Session Per Month',
                fill: false,
                data: [{% for x in month %}{{x.total}},{% endfor %}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });

});


$(document).ready(function () {
    var ctx = document.getElementById('eng_meaning_Chart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [{% for x in avg_eng_meaning_month %}'{{x.month|date:"M, Y"}}',{% endfor %}],
            datasets: [{
                label: 'Average Engagement by Month',
                fill: false,
                data: [{% for x in avg_eng_meaning_month %}{{x.rate}},{% endfor %}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                  ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });

});




    $('.like-form').submit(function (e) {
        e.preventDefault()

        const post_id = $(this).attr('id')
        const url = $(this).attr('action')
        const thumbcolor = $(`.thumb${post_id}`).css('color')

        $.ajax({
            type: 'POST',
            url: url,
            data: {
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                'post_id': post_id,
            },
            success: function (response) {

                if (thumbcolor === 'rgb(0, 0, 0)') {
                    $(`.thumb${post_id}`).css('color', 'red');
                } else {
                    $(`.thumb${post_id}`).css('color', 'black');
                }

            },
            error: function (response) {
                console.log('error', response)
            }
        })

    })


    for (let element of document.getElementsByClassName("flag")){
    element.style.display="none";
    }

</script>
{% endblock scripts %}