{% extends 'mbase.html' %}
{% load static %}
{% block stylesheet %}{% static '/css/profile.css' %}{% endblock %}
{% block title %}Student Profile{% endblock title %}


{% block content %}


<div class="profile-page tx-13">
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="profile-header">
                <div class="header-links">
                    <div class="container header">
                        <div class="row">
                            <div class="col-3 name-btn">
                                <img class="profile-pic" src="{{student.avatar.url}}" alt="profile">
                            </div>
                            <div class="col-3">
                                <div style="font-size:25px; font-weight:bold" class="profile-name">
                                    Student</div>
                                <div style="font-size:25px; font-weight:bold" class="profile-name">
                                    {{student.first_name}}
                                    {{student.last_name}}</div>
                                <div style="font-size:15px" class="profile-name">
                                    Address: {{student.address}}</div>
                            </div>
                            <div class="col-6">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<h3>Activity</h3>

<div class="table-responsive-lg">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Student</th>
                <th scope="col">Mentor</th>
                <th scope="col">Length</th>
                <th scope="col">Supports</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>

            {% for session in sessions %}
            <tr>
                <td>{{session.created|date:"d M Y"}}</td>
                <td><a href="{{session.connection.student.get_absolute_url}}">{{session.connection.student.first_name}}
                        {{session.connection.student.last_name}}</a></td>
                <td><a href="{{session.connection.mentor.get_absolute_url}}">{{session.connection.mentor.first_name}}
                        {{session.connection.mentor.last_name}}</a></td>
                <td>{{session.length}} hr</td>
                <td>
                    {% for support in session.get_supports %}
                    <li>{{support}}</li>
                    {% endfor %}
                </td>
                <td><a href="{{session.get_absolute_url}}"><button type="submit" class="btn btn-info">View Full
                            Form</button></a></td>

            </tr>

            {% endfor %}

        </tbody>
    </table>
</div>

<h3>All Info</h3>

<a href="{% url 'mprofiles:student-update-profile' student.slug %}"><button type="submit" class="btn btn-info">Edit</button></a>

</br>


<div class="row">
    <div class="col-sm-6">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">First Name</h5>
                <p class="card-text">{{student.first_name}}</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Last Name</h5>
                <p class="card-text">{{student.last_name}}</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Email</h5>
                <p class="card-text">{{student.email}}</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Phone</h5>
                <p class="card-text">{{student.phone}}</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Address</h5>
                <p class="card-text">{{student.address}}</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Grade</h5>
                <p class="card-text">{{student.grade}}</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">School</h5>
                <p class="card-text">{{student.school}}</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Academic Advisor</h5>
                <p class="card-text">{{student.academic_advisor}}</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Academic Advisor Email</h5>
                <p class="card-text">{{student.academic_advisor_email}}</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Why do you want a mentor?</h5>
                    {% for reason in student.get_reasons %}
                    <li>{{reason}}</li>
                    {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">{{student.question1}}</h5>
                <p class="card-text">{{student.answer1}}</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">{{student.question2}}</h5>
                <p class="card-text">{{student.answer2}}</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">{{student.question3}}</h5>
                <p class="card-text">{{student.answer3}}</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">I prefer my mentor to be:</h5>
                <p class="card-text">{{student.prefer_sex}}</p>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-6">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">My geographical preference is:</h5>
                <p class="card-text">{{student.geographical}}</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">- Can you commit to participating in the mentoring program for a minimum of one year
from the time you are matched with a mentor?</h5>
                <p class="card-text">{{student.commit}}</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">- Are you available to meet with your mentor (in-person or virtually) once a month along
with phone/email contact every two weeks?</h5>
                <p class="card-text">{{student.available}}</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Can you and a parent/guardian commit to a one-time training seminar to better
understand the program and how to maximize the quality of your relationship with your
mentor?</h5>
                <p class="card-text">{{student.seminar}}</p>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-6">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">I agree to adhere to the above ground rules to help keep me safe and respected.
</h5>
                <p class="card-text">{{student.signature}}</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
    </div>
</div>


</br>
</br>

{% endblock content %}