{% extends 'form-base.html' %}
{% load static %}
{% block stylesheet %}{% static '/css/my_invites.css' %}{% endblock %}
{% block title %}Student Submission Form{% endblock title %}

{% block content %}


<div class="container-fluid">
    <div class="fade-in">
        <div class="row justify-content-md-center">
            <div class="col-sm-6">

                <form class="form-horizontal" action="" method="post" enctype="multipart/form-data" autocomplete="off">
                    <div class="card-header">
                        <h2>Student Submission Form</h2>
                    </div>

                    <label for="id_first_name">First name:</label>
                    {{form.first_name}}

                    <label for="id_last_name">Last name:</label>
                    {{form.last_name}}

                    <label for="id_email">Email:</label>
                    {{form.email}}

                    <label for="id_phone">Phone Number:</label>
                    {{form.phone}}

                    <label for="id_address">Address:</label>
                    {{form.address}}

                    <label for="id_grade">Grade:</label>
                    {{form.grade}}

                    <label for="id_school">School:</label>
                    {{form.school}}

                    <label for="id_avatar">Recent photo of yourself</label>
                    {{form.avatar}}

                    <label for="id_academic_advisor">Academic advisor:</label>
                    {{form.academic_advisor}}

                    <label for="id_reason">Why do you want a mentor? Please give as much information as
                        possible.</label>
                    {{form.reason}}

                    <label for="id_know">What would you like your future mentor to know about you? (hobbies,
                        interests, background, etc):</label>
                    {{form.know}}

                    <p>Fun fact about yourself: Please choose a writing prompt to answer. (#1)</p>

                    {{form.question1}}
                    <p>Answer</p>
                    {{form.answer1}}

                    <p>Fun fact about yourself: Please choose a writing prompt to answer. (#2)</p>
                    {{form.question2}}
                    <p>Answer</p>
                    {{form.answer2}}

                    <p>Please let us know what your preferences are for the following two questions. While we cannot guarantee we will be able to follow your preferences exactly, we will try our best.</p>

                    <label for="id_prefer_sex">I prefer my mentor to be:</label>
                    {{form.prefer_sex}}

                    <label for="id_geographical">My geographical preference is:</label>
                    {{form.geographical}}

                    </h3><b>Ground Rules</b></h3>

                    <label for="id_commit">Can you commit to participating in the mentoring program for a minimum
                        of one year from the time you are matched with a mentor?</label>
                    {{form.commit}}

                    <label for="id_available">Are you available to meet with your mentor (in-person or virtually) once a
                        month along with phone/email contact every two weeks?</label>
                    {{form.available}}

                    <label for="id_seminar">Can you and a parent/guardian commit to a one-time training seminar to
                        better understand the program and how to maximize the quality of your
                        relationship with your mentor?</label>
                    {{form.seminar}}

                    <label for="id_understand">I understand that not showing up to a committed session or ignoring communication with my mentor will result in the mentoring program manager reaching out to my parents and/or academic advisor.</label>
                    {{form.understand}}

                    <label for="id_signature">I agree to the above ground rules.</label>
                    {{form.signature}}

                    <div class="card-footer">
                        <button class="btn btn-sm btn-success" type="submit">Submit</button>
                    </div>
                    {% csrf_token %}
                </form>

            </div>
        </div>
    </div>
</div>


{% endblock content %}