{% extends 'form-base.html' %}
{% load static %}
{% block stylesheet %}{% static '/css/my_invites.css' %}{% endblock %}
{% block title %}Submit Session Feedback{% endblock title %}

{% block content %}

<div class="container-fluid">
    <div class="fade-in">
        <div class="row justify-content-md-center">
            <div class="col-sm-6">

                <h3>Submit Session Feedback</h3>
                </br>
                <h4>Mentor: {{session.connection.mentor.first_name}} {{session.connection.mentor.last_name}}</h4>
                <h4>Student: {{session.connection.student.first_name}} {{session.connection.student.last_name}}</h4>
                </br>

                <form action="" method="POST" class=# enctype="multipart/form-data">
                    {% csrf_token %}

                    <label for="id_meet">How many times have you met this month in person?</label>
                    {{form.meet}}

                    <label for="id_dialogue">Have you had any dialogue with your
                        mentee via phone or text?</label>
                    {{form.dialogue}}

                    <label for="id_summary">In general, how are things going with you and your mentee?</label>
                    {{form.summary}}

                    <label for="id_help">Have you had any success stories lately? Any setbacks? Details would be appreciated for us to help support our mentor community with ideas and feedback.</label>
                    {{form.help}}

                    <label for="id_change">How did you and your mentee spend your time together? Is there anything you would like to change to make your future sessions better?</label>
                    {{form.change}}

                    <label for="id_rate">Please rate your mentee’s engagement on a scale of 1-5 (1 = Very unengaged, 5 = very engaged)</label>
                    {{form.rate}}

                    <label for="id_rate">Can we support you with anything? (If not, please leave blank)</label>
                    {{form.support}}

                    <label for="id_question">Do you have any questions or comments for us? (If not, please
                        leave blank)</label>
                    {{form.question}}

                   <label for="id_urgent_check">This requires urgent attention. (Komal will reach out to you shortly)</label>
                    {{form.urgent_check}}

                    </br>
                    <button type='submit' class="btn btn-success">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}


{% block scripts %}

<script>
    $('#id_meet').on('change', function () {
        if (this.value == '0')
            $('label[for=id_dialogue], #id_dialogue').show('normal');
        else
            $('label[for=id_dialogue], #id_dialogue').hide('normal');
    }).trigger("change");
</script>

{% endblock scripts %}