<p>Dear {{tutor.first_name}},</p>

<p>Thank you for stepping up to be a tutor! As a step of the application, we ask you to please complete a confidential and secure background check by going to the link below and submitting your personal information. Please complete the background check within the next 3 business days. <span style="color:red;">If you have previously completed a background check for Peninsula Bridge, you do not have to do this again.</span></p>

<p>Background Check: https://peninsulabridge.volunteerportal.net</p>
 
<p>You will require the following password to login: Dreambelieveachieve89!</p>

<p><b>Please note the following:</b></p>

<p>This background check is paid by the applicant and the payment can be made with a credit card. The minimum cost per screening is $13.95.</p>

<p>Results of your search will be made available to the Executive Director of Peninsula Bridge.</p>

<p>Lastly, if you “Quit without clicking Save”, the system will not save your information. Your background check will not be run. You will need to start over from the beginning when you return.</p>

<p>As soon as you are approved, we will match you with a student to tutor. Please reach out to Tutoring@PeninsulaBridge.org with any questions or concerns. Thank you for your commitment to safety and procedure at Peninsula Bridge.</p>
