<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connection Inactive Email</title>
</head>
<body>

<p>Dear Program Coordinators, Academic Advisors, and Parents,<p>

<p>This is an automatic email to notify you that {{tutor.first_name}} (tutor) and {{student.first_name}} (student) have not met for the past 3 weeks. This email is sent if the tutor has not submitted the weekly session report for more than 3 weeks in a row or if the tutor has reported 0 meetings for 3 weeks in a row. Please reach out to {{tutor.first_name}} at {{tutor.email}} and {{student.first_name}} at {{student.email}} for more details.</p>


</body>
</html>