<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connection Email</title>
</head>
<body>

<p>Dear <b>{{tutor.first_name}}</b> and <b>{{student.first_name}}</b>,</p>

<p>We are hoping all of you are well and healthy.</p>

<p>This email is your virtual connection email for tutoring. We are excited for <b>{{tutor.first_name}}</b> - <b>{{tutor.email}}</b> to tutor <b>{{student.first_name}}</b> - <b>{{student.email}}</b>.</p>

<p>Tutors, please send an email connection to the families to set up the day and time for virtual tutoring as well as the mode of communication (zoom, google hangout, etc.).  to your family as soon as you can. Families, please respond to the email as soon as you receive it. If you prefer to communicate via text, please exchange phone numbers.</p>

<p>Finally, here are some reminders for tutors and students:</p>
<li>Tutoring will be one hour per week. A tutor and student can plan on more than that if both the tutor and student are interested and able to do so. Tutoring cannot take place during the hours of Bridge programming.</li>
<li>If a student or a tutor needs to reschedule, please email your tutor or tutee at least 24 hours in advance. Please reschedule for a new day and time if possible.</li>

<p>Thank you in advance to families and tutors for your teamwork and flexibility as we support our Bridge students. Please be in touch if you have any major concerns or challenges.</p>
<p>-------------------------------------------------------------------------------------------------------------------------------</p>
<p>Esperamos que todos estén bien y sanos.</p>

<p>Este correo electrónico es su correo electrónico de conexión virtual para tutoría. Estamos entusiasmados con <b>{{tutor.first_name}}</b> - <b>{{tutor.email}}</b> para tutor de <b>{{student.first_name}}</b> - <b>{{student.email}}</b>.</p>

<p>Tutores, envíen una conexión de correo electrónico a las familias para configurar el día y la hora de la tutoría virtual, así como el modo de comunicación (zoom, google hangout, etc.) a su familia tan pronto como pueda. Familias, respondan al correo electrónico tan pronto como lo reciban. Si prefiere comunicarse por mensaje de texto, intercambie números de teléfono.</p>

<p>Finalmente, aquí hay algunos recordatorios para tutores y estudiantes:</p>
<li>La tutoría será de una hora por semana. Un tutor y un estudiante pueden planear más que eso si tanto el tutor como el estudiante están interesados ​​y pueden hacerlo. La tutoría no puede llevarse a cabo durante las horas de programación de Bridge.</li>
<li>Si un estudiante o un tutor necesita reprogramar, envíe un correo electrónico a su tutor o tutor al menos con 24 horas de anticipación. Si es posible, reprograme para un nuevo día y hora.</li>

<p>Gracias de antemano a las familias y tutores por su trabajo en equipo y flexibilidad mientras apoyamos a nuestros estudiantes de Bridge. Póngase en contacto si tiene alguna pregunta o duda.</p>



</body>
</html>