<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disconnection Email</title>
</head>
<body>

<p>Dear {{tutor.first_name}} and {{student.first_name}},</p>

<p>I hope you are doing well! We want to let you know that {{tutor.first_name}} and {{student.first_name}} have ended their tutoring. We hope that {{student.first_name}} learned a lot from this experience and thank you to {{tutor.first_name}} for tutoring! Please let us know if {{student.first_name}} would like any other academic support. We are always happy to help!</p>

<p>Thank you and please never hesitate to email us at tutoring@peninsulabridge.org with any questions or concerns.</p>
<p>-------------------------------------------------------------------------------------------------------------------------------</p>
<p>Estimados {{tutor.first_name}} y {{student.first_name}}:</p>

<p>¡Espero que lo estén haciendo bien! Queremos informarle que {{tutor.first_name}} y {{student.first_name}} finalizaron su tutoría. Esperamos que {{student.first_name}} haya aprendido mucho de esta experiencia y gracias a {{tutor.first_name}} por enseñar. Háganos saber si {{student.first_name}} desea recibir otro tipo de apoyo académico. ¡Siempre estaremos felices de ayudar!</p>

<p>Gracias y no dude en enviarnos un correo electrónico a tutoring@peninsulabridge.org con cualquier pregunta o duda.</p>




</body>
</html>