<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disconnection Email</title>
</head>
<body>

<p>Dear <b>{{tutor.first_name}}</b> and <b>{{student.first_name}}</b>,</p>

<p>I hope you are doing well! We want to let you know that <b>{{tutor.first_name}}</b> and <b>{{student.first_name}}</b> have ended their tutoring. We hope that <b>{{student.first_name}}</b> learned a lot from this experience and thank you to <b>{{tutor.first_name}}</b> for tutoring! Please let us know if <b>{{student.first_name}}</b> would like any other academic support. We are always happy to help!</p>

<p>Thank you and please never hesitate to email us at <b>Tutoring@Bridge.org</b> with any questions or concerns.</p>
<p>-------------------------------------------------------------------------------------------------------------------------------</p>
<p>Estimados <b>{{tutor.first_name}}</b> y <b>{{student.first_name}}</b>:</p>

<p>¡Espero que lo estén haciendo bien! Queremos informarle que <b>{{tutor.first_name}}</b> y <b>{{student.first_name}}</b> finalizaron su tutoría. Esperamos que <b>{{student.first_name}}</b> haya aprendido mucho de esta experiencia y gracias a <b>{{tutor.first_name}}</b> por enseñar. Háganos saber si <b>{{student.first_name}}</b> desea recibir otro tipo de apoyo académico. ¡Siempre estaremos felices de ayudar!</p>

<p>Gracias y no dude en enviarnos un correo electrónico a <b>Tutoring@Bridge.org</b> con cualquier pregunta o duda.</p>



</body>
</html>