{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}{% static '/css/my_invites.css' %}{% endblock %}
{% block title %}Question List{% endblock title %}

{% block content %}

<div class="row">
    <div class="col-auto mr-auto">
        <h3>Questions</h3>
    </div>
    <div class="col-auto">
        <div class="btn-group" role="group" aria-label="Basic example">
            <form action="{% url 'profiles:search-question' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="status" value='Sign-Up'>
                <button type="submit" class="btn btn-outline-dark">Sign-Up</button>
            </form>
            <form action="{% url 'profiles:search-question' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="status" value='Feedback Form'>
                <button type="submit" class="btn btn-outline-dark">Feedback Form</button>
            </form>
        </div>
    </div> 
</div>



<div class="table-responsive-lg">
    <table id="myTable" class="table">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Source</th>
                <th scope="col">Question</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>
        </thead>




        <tbody>

            {% for obj in object_list %}
            <tr>
                <td>{{obj.created|date:"d M Y"}}</td>
                <td>{{obj.tutor.first_name}} {{obj.tutor.last_name}}</td>
                <td>{{obj.tutor.email}}</td>
                <td>{{obj.source}}</td>
                <td>{{obj.question}}</td>
                <td>
                {% if obj.status == 'ADDRESSED' %}
                <div class="status{{obj.id}}"><span class="badge badge-success">ADDRESSED</span></div>
                {% elif obj.status == 'UNANSWERED' %}
                <div class="status{{obj.id}}"><span class="badge badge-danger">UNANSWERED</span></div>
                {% endif %}
                </td>
                <td>
                    <form action="{% url 'profiles:action-question' %}" method="POST" class='like-form' id='{{obj.id}}'>
                    {% csrf_token %}
                    <button type="submit" class="like_btn btn btn-light like-btn{{obj.id}}">
                        {% if obj.action == False %}
                        <i class="fa fa-check-square fa-2x thumb{{obj.id}}" style="color:grey"></i>
                        {% else %}
                        <i class="fa fa-check-square fa-2x thumb{{obj.id}}"style="color:black"></i>
                        {% endif %}
                    </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock content %}

{% block scripts %}
<script>

$('.like-form').submit(function (e) {
    e.preventDefault()

    const post_id = $(this).attr('id')
    const url = $(this).attr('action')
    const thumbcolor = $(`.thumb${post_id}`).css('color')

    $.ajax({
        type: 'POST',
        url: url,
        data: {
            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
            'post_id': post_id,
        },
        success: function (response) {

            if (thumbcolor === 'rgb(0, 0, 0)') {
                $(`.thumb${post_id}`).css('color', 'grey');
                $(`.status${post_id}`).html("<span class='badge badge-danger'>UNANSWERED</span>");
            } else {
                $(`.thumb${post_id}`).css('color', 'black');
                $(`.status${post_id}`).html("<span class='badge badge-success'>ADDRESSED</span>");
            }

        },
        error: function (response) {
            console.log('error', response)
        }
    })

})




        $(document).ready(function () {

            var table = $('#myTable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'excel', 'pdf', 'print'
                ],
                "pageLength": 10,
                "order": [[ 5, "desc" ]],


            });
        });




</script>
{% endblock scripts %}