<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekly Feedback Form</title>
</head>
<body>

<p>Dear {{tutor.first_name}},<p>

<p>Thank you for volunteering your time to tutor this week! Please take 3-5 minutes to complete the <b>weekly session report.</b> This is how we record your hours. We can’t approve any sessions that were not reported by this weekly session report. <u>Please fill out this form even if you haven’t met with your student in the past week.</u></p>

<p>This is also a great place to reflect on your tutoring experience, tracking the progress your student is making and identifying the impact you are creating. Thank you for your support!</p>

<p>{{form_link}}</p>

</body>
</html>