<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connection Inactive Email</title>
</head>
<body>

<p>Hi {{tutor.first_name}} and PB Site Coordinator,<p>
 
<p>I hope you are doing well. This is a notification that your tutor match with {{student.first_name}} has turned inactive. Tutor matches automatically become inactive when 3 consecutive session feedback forms have not been completed. Please reach out to the tutoring team to let us know if you are still meeting with your student or if there is a conflict that prevents you from meeting/ filling out the form. We strive to provide the most support we can to tutors and students and encourage you to email, text, or call if you have any issues. Thank you!</p>


</body>
</html>