<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connection Email</title>
</head>
<body>

<p>Dear {{tutor.first_name}} and {{student.first_name}},</p>

<p>We are hoping all of you are well.</p>

<p>This email is your virtual connection email for tutoring! We are excited for {{tutor.first_name}} - {{tutor.email}} to tutor {{student.first_name}} - {{student.email}}.</p>

<p>{{student.first_name}} has requested tutoring in:</p>
{% for subject in student.get_subjects %}
<li>{{subject}}</li>
{% endfor %}

<p><b>Parent Information</b> - {{student.parent1_first_name}} {{student.parent1_last_name}}, {{student.parent1_email}}, {{student.parent1_phone}}</p>
<p><b>Parent Language Preference</b>: {{student.parent_languages}} | <b>{{tutor.first_name}}: If you need to contact your student’s parent, please do so in their preferred language.</b></p>

<p style="color:blue;"><b>Tutors will be sending an email connection to the families to set up the day and time for virtual tutoring as well as the mode of communication (zoom, google hangout, etc.). If you prefer to communicate via text, please exchange phone numbers.</b></p>

<p style="color:blue;"><b>Tutors, please send the email to your family as soon as you can. Families, please respond to the email as soon as you receive it.</b></p>

<p><b><u>Finally, here are some reminders for tutors and students:</u></b></p>
<li>All of our communication about tutoring will come to you through <b>email, so it is important that you are checking and responding to your email <span style="color:red;">every day.</span></b> If you and your tutor prefer to communicate through text, that is up to you.</li>
<li>Tutoring will be <b>one hour per week.</b> A tutor and student can plan on more than that if both the tutor and student are interested and able to do so. Tutoring cannot take place during the hours of Peninsula Bridge programming.</li>
<li>If a student needs to reschedule, please email the tutor at least <span style="color:red;"><b>24 hours in advance.</b></span> Also, plan a new day and time to reschedule the session. <i>Tutors, please do the same if you need to reschedule.</i></li>

<p>Thank you in advance to families and tutors for your teamwork and flexibility as we support our Bridge students. Please be in touch if you have any major concerns or challenges.</p>

<p>Warmly,</p>

<p>The Peninsula Bridge Team</p>
<p>-------------------------------------------------------------------------------------------------------------------------------</p>
<p>Estimado tutor y familia,</p>

<p>Esperamos que todos estén bien.</p>

<p>¡Este correo electrónico es su correo electrónico de conexión virtual para tutoría! Estamos entusiasmados con {{tutor.first_name}} - {{tutor.email}} para tutor de {{student.first_name}} - {{student.email}}.</p>

<p style="color:blue;"><b>Los tutores enviarán un mensaje de conexión por correo electrónico a las familias para configurar el día y la hora de la tutoría virtual, así como el modo de comunicación (zoom, Google Hangout, etc.). Tutores, envíen el correo electrónico a su familia tan pronto como lean este correo electrónico. Familias, respondan el correo electrónico tan pronto como lo reciban. Si prefiere comunicarse a través de mensajes de texto, intercambie números de teléfono.</b></p>

<p><b><u>Finalmente, aquí hay algunos recordatorios para tutores y estudiantes:</u></b></p>
<li>Toda nuestra comunicación sobre tutoría le llegará por <b>correo electrónico, por lo que es importante que revise y responda a su correo electrónico <span style="color:red;">todos los días.</span></b> Si usted y su tutor prefieren comunicarse a través de un texto que depende de usted.</li>
<li>La tutoría será de <b>una hora por semana.</b> El tutor y el alumno pueden planificar más que eso si tanto el tutor como el alumno están interesados y pueden hacerlo. La tutoría no puede tener lugar durante el horario de verano del programa Península Bridge.</li>
<li>Si un estudiante necesita reprogramar, envíe la notificación del tutor por correo electrónico con <span style="color:red;"><b>al menos 24 horas de anticipación.</b></span> Además, planifique un nuevo día y hora para reprogramar la sesión. <i>Tutores, hagan lo mismo si necesitan reprogramar.</i></li>

<p>Gracias de antemano a las familias y tutores por su trabajo en equipo y flexibilidad mientras apoyamos a nuestros estudiantes de Bridge. Póngase en contacto si tiene alguna pregunta o duda.</p>

<p>Mejor,</p>

<p>El equipo de Península Bridge</p>


</body>
</html>