<p>Dear {{tutor_name}},</p>
 
<p>Thank you so much for signing up to tutor Peninsula Bridge middle school students this year! We are excited to share some resources and explain our program's expectations with you in this email.</p>
 
<p>Please review the <a href="https://docs.google.com/presentation/d/1thfhf_P5jCOPNwSaJFmZyzZtG3D2F-uCZ7O3_SKgIS8/edit#slide=id.gc7f03dd696_0_721">Tutor Training #1 slide deck</a> and complete this <a href="https://docs.google.com/forms/d/e/1FAIpQLSdVbYpG85nBBDigjCkwdZ9FECmt-OEG0_d-GETY0HOs0x8WOg/viewform?pli=1">Google form</a> to complete your tutor training. This must be completed before your first session with your student.</p>

<p>Please also review these resources to create your lessons and structure your sessions.</p>
<ul>
<li><a href="https://docs.google.com/document/d/1JJjJ7JtGzo0e7uuMV9KeQ84RIHzpTQIP_7l18n1GMxc/edit">Tutoring Tips and Resources for Math and Language Arts Grades 4-8</a></li>
<li><a href="https://docs.google.com/document/d/1uPv4fTPmdKzVTlIC-3wjE4_qXseTZErKAe9HQaBlWIQ/edit">Virtual Tutoring Strategies</a></li>
</ul>
<p>Finally, we will be hosting tutor training sessions once a month on Saturday mornings to support you! If you are interested in learning how to develop your tutoring skills, please join us on one of these <a href="https://docs.google.com/document/d/1K-VWaZyVuf_Z7op53KPwo0085cbXAEP8Av1bcLP2OtI/edit">training days</a>. We ask that you attend at least one training this semester!</p>

<p>For any questions or support with tutoring please reach out to Lynn Fischbach or Rachel Chen at Tutoring@PeninsulaBridge.org</p>