{% extends 'form-base.html' %}
{% load static %}
{% block stylesheet %}{% static '/css/my_invites.css' %}{% endblock %}
{% block title %}Tutoring Sign-Up Form{% endblock title %}

{% block content %}


<div class="container-fluid">
    <div class="fade-in">
        <div class="row justify-content-md-center">
            <div class="col-sm-6">

                <form class="form-horizontal" action="" method="post" enctype="multipart/form-data" autocomplete="off">
                    
                    <h2>Peninsula Bridge: Tutoring Sign-Up Form</h2>

                    <label for="id_first_name">First name:</label>
                    {{form.first_name}}

                    <label for="id_last_name">Last name:</label>
                    {{form.last_name}}

                    <label for="id_email">Email:</label>
                    {{form.email}}

                    <label for="id_email">Phone Number:</label>
                    {{form.phone}}

                    <label for="id_school">School:</label>
                    {{form.school}}

                    <label for="id_avatar">(Optional) Profile Picture:</label>
                    {{form.avatar}}

                    <label for="id_subjects">What subjects can you tutor in? (Hold the “Control” or “Command” key to
                        select
                        multiple options.)</label>
                    {{form.subjects}}

                    <label for="id_languages">What languages do you speak? (Hold the “Control” or “Command” key to
                        select multiple options.)</label>
                    {{form.languages}}

                    <label for="id_ethnic">What is your ethnic/racial background?</label>
                    {{form.ethnic}}

                    <label for="id_interest">What are your interests? (Hold the Command/Control key to select multiple options.)</label>
                    {{form.interest}}

                    <label for="id_grade">Grade:</label>
                    {{form.grade}}

                    <label for="id_age">Age:</label>
                    {{form.age}}

                    <label for="id_student_capacity">What is the maximum number of students you are willing to
                        tutor?</label>
                    {{form.student_capacity}}

                    <label for="id_question">Do you have any questions for us? (If not, please leave blank)</label>
                    {{form.question}}

                    <div class="card-footer">
                        <button class="btn btn-sm btn-success" type="submit"> Submit</button>
                    </div>
                    {% csrf_token %}
                </form>

            </div>
        </div>
    </div>
</div>


{% endblock content %}



{% block scripts %}

<script>

    $('#id_grade').on('change', function () {
        if (this.value == 'Not in grade school')
            $('label[for=id_age], #id_age').show('normal');
        else
            $('label[for=id_age], #id_age').hide('normal');
    }).trigger("change");

    
</script>
{% endblock scripts %}