{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}{% static '/css/my_invites.css' %}{% endblock %}
{% block title %}Connection List{% endblock title %}

{% block content %}

<div class="row">
    <div class="col-auto mr-auto">
        <h3>Connections</h3>
    </div>
    <div class="col-auto">
        <div class="btn-group" role="group" aria-label="Basic example">
            <form action="{% url 'profiles:search-connection' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="status" value='connected'>
                <button type="submit" class="btn btn-outline-dark">Connected</button>
            </form>
            <form action="{% url 'profiles:search-connection' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="status" value='disconnected'>
                <button type="submit" class="btn btn-outline-dark">Disconnected</button>
            </form>
            <form action="{% url 'profiles:search-connection' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="status" value='inactive'>
                <button type="submit" class="btn btn-outline-dark">Inactive</button>
            </form>
        </div>
    </div>
</div>



<div class="table-responsive-lg">
    <table id="myTable" class="table">
        <thead>
            <tr>
                <th scope="col">Connected On</th>
                <th scope="col">Student</th>
                <th scope="col">Tutor</th>
                <th scope="col">Last Session</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>

            {% for obj in qs %}
            <tr>
                <td><a href="{{obj.get_absolute_url}}">{{obj.created|date:"d M Y"}}</a></td>
                <td><a href="{{obj.student.get_absolute_url}}">{{obj.student.first_name}} {{obj.student.last_name}}</a>
                </td>
                <td><a href="{{obj.tutor.get_absolute_url}}">{{obj.tutor.first_name}} {{obj.tutor.last_name}}</a></td>
                <td>{% for session in obj.get_sessions %}{{session.updated|date:"d M Y"}}{% endfor %}</td>
                <td>
                    {% if obj.status == 'connected' %}
                    <div><span class="badge badge-success">Connected</div>
                    {% elif obj.status == 'disconnected' %}
                    <div><span class="badge badge-danger">Disconnected</div>
                    {% elif obj.status == 'inactive' %}
                    <div><span class="badge badge-warning">Inactive</div>
                    {% endif %}
                </td>
                <td>
                    {% if obj.status == 'connected' %}
                    <form action="{% url 'profiles:remove-connect' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="student_pk" value={{obj.student.pk}}>
                        <input type="hidden" name="tutor_pk" value={{obj.tutor.pk}}>
                        <button type="submit" class="btn btn-danger">Disconnect</button>
                    </form>

                    {% elif obj.status == 'disconnected' %}
                    <a href="{% url 'profiles:student-detail-view' obj.student.slug %}"><button type="submit"
                            class="btn btn-info">Connect Tutor</button></a>

                    {% elif obj.status == 'inactive' %}
                    <a href="{% url 'profiles:student-detail-view' obj.student.slug %}"><button type="submit"
                            class="btn btn-info">Connect Tutor</button></a>
                    <form action="{% url 'profiles:remove-connect' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="student_pk" value={{obj.student.pk}}>
                        <input type="hidden" name="tutor_pk" value={{obj.tutor.pk}}>
                        <button type="submit" class="btn btn-danger">Disconnect</button>
                    </form>
                    {% endif %}
                </td>
            </tr>

            {% endfor %}

        </tbody>
    </table>
</div>


{% endblock content %}


{% block scripts %}
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>
{% endblock scripts %}