{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}{% static '/css/my_invites.css' %}{% endblock %}
{% block title %}Session List{% endblock title %}

{% block content %}

<h3>Session Form Response</h3>
</br>

<h4>Tutor: {{session.connection.tutor.first_name}} {{session.connection.tutor.last_name}}</h4>
<h4>Student: {{session.connection.student.first_name}} {{session.connection.student.last_name}}</h4>
</br>





<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">How many times did you meet this week?</h5>
                <p class="card-text">{{session.meet}}
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">How many total hours of tutoring did you do?</h5>
                <p class="card-text">{{session.length}} hrs</p>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">What subjects did you cover?</h5>
                {% for subject in session.get_subjects %}
                <p class="card-text">{{subject}}</p>
                {% endfor %}

            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">List one way you were helpful to your student.</h5>
                {% for feedback in session.get_feedbacks %}
                <p class="card-text">{{feedback}}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Please eleborate your response.</h5>
                <p class="card-text">{{session.elaborate}}</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Change:</h5>
                <p class="card-text">{{session.change}}</p>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Support</h5>
                {% for support in session.get_supports %}
                <p class="card-text">{{support}}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Other Support</h5>
                <p class="card-text">{{session.othersupport}}</p>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">On a scale of 1-5, how would you rate the student’s level of engagement (1 = Very
                    unengaged, 5 = very engaged)</h5>
                <p class="card-text">{{session.rate}}</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Question:</h5>
                <p class="card-text">{{session.question}}</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Would you like to disconnet from this student?</h5>
                <p class="card-text">{{session.disconnect}}</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">

    </div>
</div>



{% endblock content %}