{% extends 'cbase.html' %}
{% load static %}
{% block stylesheet %}{% static '/css/profile.css' %}{% endblock %}
{% block title %}Student Profile{% endblock title %}


{% block content %}


<div class="profile-page tx-13">
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="profile-header">
                <div class="header-links">
                    <div class="container header">
                        <div class="row">
                            <div class="col-3 name-btn">
                                <img class="profile-pic" src="{{student.avatar.url}}" alt="profile">
                            </div>
                            <div class="col-3">
                                <div style="font-size:25px; font-weight:bold" class="profile-name">
                                    Student</div>
                                <div style="font-size:25px; font-weight:bold" class="profile-name">
                                    {{student.first_name}}
                                    {{student.last_name}}</div>
                                <div style="font-size:15px" class="profile-name">
                                    Address: {{student.address}}</div>
                            </div>
                            <div class="col-6">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<h3>Activity</h3>

<div class="table-responsive-lg">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Student</th>
                <th scope="col">Tutor</th>
                <th scope="col">Length</th>
                <th scope="col">Topics</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>

            {% for session in sessions %}
            <tr>
                <td>{{session.created|date:"d M Y"}}</td>
                <td><a href="{{session.connection.student.get_absolute_url}}">{{session.connection.student.first_name}}
                        {{session.connection.student.last_name}}</a></td>
                <td><a href="{{session.connection.tutor.get_absolute_url}}">{{session.connection.mentor.first_name}}
                        {{session.connection.mentor.last_name}}</a></td>
                <td>{{session.length}} hr</td>
                <td>
                    {% for topic in session.get_topics %}
                    <li>{{topic}}</li>
                    {% endfor %}
                </td>
                <td><a href="{{session.get_absolute_url}}"><button type="submit" class="btn btn-info">View Full
                            Form</button></a></td>

            </tr>

            {% endfor %}

        </tbody>
    </table>
</div>


{% endblock content %}