<!DOCTYPE html>
<html>

<head>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

    <link href="https://nightly.datatables.net/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
    <script src="https://nightly.datatables.net/js/jquery.dataTables.js"></script>
    <!-- Select2 plugin -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
    <!-- Select2 plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

    <meta charset=utf-8 />

    <style>
        body {
            font: 90%/1.45em "Helvetica Neue", HelveticaNeue, Verdana, Arial, Helvetica, sans-serif;
            margin: 0;
            padding: 0;
            color: #333;
            background-color: #fff;
        }
    </style>


    <title>DataTables - JS Bin</title>
</head>

<body>

<div class="table-responsive-lg">
    <table id="myTable" class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Grade</th>
                <th scope="col">Subjects</th>
                <th scope="col">School</th>
                <th scope="col">Student</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
                <th scope="col">Capacity</th>
            </tr>
        </thead>

        <tfoot>
          <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Age</th>
            <th>Start date</th>
            <th>Salary</th>
          </tr>
        </tfoot>
        <tbody>

            {% for obj in object_list %}
            <tr>
                <td><a href="{{obj.get_absolute_url}}">{{obj.first_name}} {{obj.last_name}}</a></td>
                <td>{{obj.email}}</td>
                <td>{{obj.grade}}</td>

                <td>
                    {% for subject in obj.get_subjects %}
                    <li>{{subject}}</li>
                    {% endfor %}
                </td>
                <td>{{obj.school}}</td>
                <td>
                    {% for friend in obj.get_friends %}
                    <li>{{friend.first_name}} {{friend.last_name}}</li>
                    {% endfor %}

                </td>
                <td>


                    {% for friend in obj.get_friends %}
                    <div><span class="badge badge-success">Connected</span></div>
                    {% empty %}
                    <div><span class="badge badge-danger">Not Connected</div>
                    {% endfor %}

                </td>


                {% if obj.student_capacity > obj.get_friends_no or obj.student_capacity == None %}
                <td><a href="{% url 'profiles:tutor-detail-view' obj.slug %}"><button type="submit"
                            class="btn btn-info">Connect Student</button></a></td>

                {% else %}
                <td><a href="{% url 'profiles:tutor-detail-view' obj.slug %}"><button type="submit" class="btn btn-info"
                            disabled>Connect Student</button></a></td>
                {% endif %}
                <td>{{ obj.student_capacity }}</td>
            </tr>

            {% endfor %}

        </tbody>
    </table>
</div>
  </body>
</html>






<script>
    $(document).ready(function () {

        var table = $('#myTable').DataTable({

          
            initComplete: function () {
                count = 0;
                this.api().columns().every(function () {
                    var title = this.header();
                    //replace spaces with dashes
                    title = $(title).html().replace(/[\W]/g, '-');
                    var column = this;
                    var select = $('<select id="' + title + '" class="select2" ></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            //Get the "text" property from each selected data 
                            //regex escape the value and store in array
                            var data = $.map($(this).select2('data'), function (value,
                                key) {
                                return value.text ? '^' + $.fn.dataTable.util
                                    .escapeRegex(value.text) + '$' : null;
                            });

                            //if no data selected use ""
                            if (data.length === 0) {
                                data = [""];
                            }

                            //join array into string with regex or (|)
                            var val = data.join('|');

                            //search for the option(s) selected
                            column
                                .search(val ? val : '', true, false)
                                .draw();
                        });

                    column.data().unique().sort().each(function (d, j) {
                        select.append('<option value="' + d + '">' + d +
                            '</option>');
                    });

                    //use column title as selector and placeholder
                    $('#' + title).select2({
                        multiple: true,
                        closeOnSelect: false,
                        placeholder: "Select a " + title
                    });

                    //initially clear select otherwise first option is selected
                    $('.select2').val(null).trigger('change');
                });
            }
        });
    });



    $(document).ready(function () {

      document.getElementById("Name").parentElement.innerHTML = ""

    });



  

</script>