{% extends 'form-base.html' %}
{% load static %}
{% block stylesheet %}{% static '/css/my_invites.css' %}{% endblock %}
{% block title %}Task Form{% endblock title %}

{% block content %}


<div class="container-fluid">
    <div class="fade-in">
        <div class="row justify-content-md-center">
            <div class="col-sm-9">
                <form class="form-horizontal" action="" method="post" enctype="multipart/form-data" autocomplete="off">
                    <div class="card-header">
                        <h2>Task Form</h2>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-sm-3">
                                <label>Task</label>
                                {{form.task1}}
                            </div>
                            <div class="form-group col-sm-3">
                                <label>Deadline</label>
                                {{form.task1date}}
                            </div>
                            <div class="form-group col-sm-3">
                                <label>Status</label>
                                {{form.task1status}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-3">
                                <label>Task</label>
                                {{form.task2}}
                            </div>
                            <div class="form-group col-sm-3">
                                <label>Deadline</label>
                                {{form.task2date}}
                            </div>
                            <div class="form-group col-sm-3">
                                <label>Status</label>
                                {{form.task2status}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-3">
                                <label>Task</label>
                                {{form.task3}}
                            </div>
                            <div class="form-group col-sm-3">
                                <label>Deadline</label>
                                {{form.task3date}}
                            </div>
                            <div class="form-group col-sm-3">
                                <label>Status</label>
                                {{form.task3status}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-3">
                                <label>Task</label>
                                {{form.task4}}
                            </div>
                            <div class="form-group col-sm-3">
                                <label>Deadline</label>
                                {{form.task4date}}
                            </div>
                            <div class="form-group col-sm-3">
                                <label>Status</label>
                                {{form.task4status}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-3">
                                <label>Task</label>
                                {{form.task5}}
                            </div>
                            <div class="form-group col-sm-3">
                                <label>Deadline</label>
                                {{form.task5date}}
                            </div>
                            <div class="form-group col-sm-3">
                                <label>Status</label>
                                {{form.task5status}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-3">
                                <label>Task</label>
                                {{form.task6}}
                            </div>
                            <div class="form-group col-sm-3">
                                <label>Deadline</label>
                                {{form.task6date}}
                            </div>
                            <div class="form-group col-sm-3">
                                <label>Status</label>
                                {{form.task6status}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-3">
                                <label>Task</label>
                                {{form.task7}}
                            </div>
                            <div class="form-group col-sm-3">
                                <label>Deadline</label>
                                {{form.task7date}}
                            </div>
                            <div class="form-group col-sm-3">
                                <label>Status</label>
                                {{form.task7status}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-3">
                                <label>Task</label>
                                {{form.task8}}
                            </div>
                            <div class="form-group col-sm-3">
                                <label>Deadline</label>
                                {{form.task8date}}
                            </div>
                            <div class="form-group col-sm-3">
                                <label>Status</label>
                                {{form.task8status}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-3">
                                <label>Task</label>
                                {{form.task9}}
                            </div>
                            <div class="form-group col-sm-3">
                                <label>Deadline</label>
                                {{form.task9date}}
                            </div>
                            <div class="form-group col-sm-3">
                                <label>Status</label>
                                {{form.task9status}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-3">
                                <label>Task</label>
                                {{form.task10}}
                            </div>
                            <div class="form-group col-sm-3">
                                <label>Deadline</label>
                                {{form.task10date}}
                            </div>
                            <div class="form-group col-sm-3">
                                <label>Status</label>
                                {{form.task10status}}
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-sm btn-success" type="submit"> Submit</button>
                    </div>
                    {% csrf_token %}
                </form>

            </div>
        </div>
    </div>
</div>


{% endblock content %}



{% block scripts %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script>
    $(function () {
        $('#id_task1date, #id_task2date, #id_task3date, #id_task4date, #id_task5date, #id_task6date, #id_task7date, #id_task8date, #id_task9date, #id_task10date')
            .flatpickr({
                allowInput: true,
                dateFormat: "d M Y"
            });
    });
</script>

{% endblock scripts %}