{% extends 'form-base.html' %}
{% load static %}
{% block stylesheet %}{% static '/css/my_invites.css' %}{% endblock %}
{% block title %}Edit Form{% endblock title %}

{% block content %}


<div class="container-fluid">
    <div class="fade-in">
        <div class="row justify-content-md-center">
            <div class="col-sm-6">
                
                    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data"
                        autocomplete="off">
                        <div class="card-header">
                            <h2>Edit Form</h2>
                        </div>
                        {{form.as_p}}
                        <div class="card-footer">
                            <button class="btn btn-sm btn-success" type="submit"> Submit</button>
                        </div>
                        {% csrf_token %}
                    </form>
                
            </div>
        </div>
    </div>
</div>


{% endblock content %}